<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.oracle.jsp.servlet.admin.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin/adminServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>admin/login.jsp</welcome-file>
    <welcome-file>index3.jsp</welcome-file>
    <welcome-file>index4.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PageTag</display-name>
    <servlet-name>PageTag</servlet-name>
    <servlet-class>com.oracle.jsp.Tag.PageTag</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageTag</servlet-name>
    <url-pattern>/PageTag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductTypeServlet</display-name>
    <servlet-name>ProductTypeServlet</servlet-name>
    <servlet-class>com.oracle.jsp.servlet.admin.ProductTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductTypeServlet</servlet-name>
    <url-pattern>/admin/product/type/productTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductPropertyServlet</display-name>
    <servlet-name>ProductPropertyServlet</servlet-name>
    <servlet-class>com.oracle.jsp.servlet.admin.ProductPropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductPropertyServlet</servlet-name>
    <url-pattern>/admin/product/property/productPropertyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductOptionServlet</display-name>
    <servlet-name>ProductOptionServlet</servlet-name>
    <servlet-class>com.oracle.jsp.servlet.admin.ProductOptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductOptionServlet</servlet-name>
    <url-pattern>/admin/product/option/productOptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.oracle.jsp.servlet.admin.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/admin/product/productServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.oracle.jsp.servlet.admin.InitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>userServlet</display-name>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.oracle.jsp.servlet.admin.userServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/admin/frontUser/userServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.oracle.jsp.servlet.front.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/admin/front/user/userServlet</url-pattern>
  </servlet-mapping>
</web-app>